commands:
  01_download_certificates:
    command: "aws s3 cp s3://single-tx-swap-certs/server.crt /etc/pki/tls/certs/server.crt"
  02_download_private_key:
    command: "aws s3 cp s3://single-tx-swap-certs/fullchain.pem /etc/pki/tls/certs/chain.pem"
  03_download_private_key:
    command: "aws s3 cp s3://single-tx-swap-certs/privkey.pem /etc/pki/tls/certs/server.key"